PORT=4000
MONGODB_URI=mongodb+srv://karinganastudio23:VIbemongodb@cluster0.oe0akin.mongodb.net/escoladeproducaomusicaldb?retryWrites=true&w=majority
FRONTEND_URL=https://escoladeproducaomusical.vercel.app
JWT_SECRET=epm_secret_2026_jayon_tivane
